@use "variables" as *;

body {
  background-color: $color__yellow;
  margin-bottom: 10vw;
  color: $color__black;
  .wrapper {
    padding: 5vw 10vw;
  }
  font-size: 1.5rem;
  h2 {
    font-size: 3.5rem;
  }
}
a {
  color: $color__link;
  &:hover {
    color: $color__link-hover;
  }
}
.row {
  display: flex;
  justify-content: space-between;

  .col {
    flex-basis: 50%;
  }
}
.button {
  padding: 1em;
  border-radius: 3px;
  background-color: $color__red;
  display: inline-block;
  color: $color__white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}
img {
  max-width: 100%;
}
.text {
  max-width: 50vw;
  padding-right: 5vw;
}
.row {
  padding: 5vw 4vw;
}
.row.DC {
  padding-top: 0;
}
.row.Marvel {
  padding-top: 0;
}
.row.Ninjago {
  padding-top: 0;
  padding-right: 0;
}
li {
  line-height: 2;
}

.section-img {
  max-width: 80vw;
  /* max-height: 40vh; */
  float: left;
}