@use "sass:color";

$font__main: "Nunito", serif;
$font__heading: "Chewy", system-ui;

$color__yellow: #ffde3c;
$color__red: #E4000A;
$color__grey: #aeb2b4;
$color__white: #ffffff;
$color__black: #000000;

$color__link: $color__yellow;
$color__link-hover: color.adjust($color__yellow, $lightness: 15%);